<div class="dashboard-layout">
  <div class="main-content">
    <app-navbar2></app-navbar2>
    <div class="stats-container">
      <div class="stat-card">
        <h2>{{ userCount  }}</h2>
        <p>Attendees</p>
      </div>
      <div class="stat-card">
        <h2>${{ totalRevenue }}</h2>
        <p>Revenue</p>
      </div>
      <div class="stat-card">
        <h2>3</h2>
        <p>Upcoming events</p>
      </div>
    </div>
    <div class="main">
      <div class="chart">
        <canvas id="chart"></canvas>
      </div>

      <div class="popular-events">
        <h3>Most Popular events</h3>
        <table>
          <thead>
            <tr>
              <th>Events</th>
              <th>Attendance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Music concerts</td>
              <td>250,000</td>
            </tr>
            <tr>
              <td>Weddings</td>
              <td>100,000</td>
            </tr>
            <tr>
              <td>Tech conferences</td>
              <td>100,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <app-footer2></app-footer2>
  </div>
</div>
