<div class="dashboard-layout">
  <div class="main-content">
    <app-nav-bar></app-nav-bar>
    <div class="card-container">
      <div class="event-card" *ngFor="let event of paginatedEvents">
        <img [src]="event.image" alt="Event Image" class="event-image">
        <div class="event-details">
          <h3>{{ event.description }}</h3>
          <p>Date: {{ event.date }}</p>
          <p>Duration: {{ event.duration }}</p>
          <p>Location: {{ event.Location }}</p>
          <p>Tickets Available: {{ event.Ticketsavailable }}</p>
          <p>Single Price: ${{ event.Singlesprice }}</p>
          <p>Group Price: ${{ event.Groupsprice }}</p>
          <button class="view-button" (click)="viewEvent(event.event_id)">View</button>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button
        (click)="prevPage()"
        [ngClass]="{'inactive-button': isFirstPage}"
        [ngStyle]="{'cursor': isFirstPage ? 'not-allowed' : 'pointer'}"
        [disabled]="isFirstPage">
        Previous
      </button>

      <button
        (click)="nextPage()"
        [ngClass]="{'inactive-button': isLastPage}"
        [ngStyle]="{'cursor': isLastPage ? 'not-allowed' : 'pointer'}"
        [disabled]="isLastPage">
        Next
      </button>
    </div>
    <app-footer></app-footer>
  </div>
</div>

