<div class="dashboard-layout">
  
  <div class="main-content">
    <app-nav-bar></app-nav-bar>
    <div class="paragraph">
      <p>𝒲𝑒𝓁𝒸𝑜𝓂𝑒 𝓉𝑜 𝒫𝓁𝒶𝓃𝒶! <br><br>
      Discover and book the best events happening around you. Whether you're looking to attend concerts, conferences, workshops, or community gatherings, Plana makes it easy to find and manage your event experiences. Start exploring now and never miss out on the events you love!</p>
    </div>
    <div class="events">
      <p class="eventsp">Events</p>
      <div class="event-cards">
        <div class="event-card">
          <img src="/pexels-benjaminfarren-21790479.jpg" alt="" class="event-image">
          <div class="event-text">𝓜𝓾𝓼𝓲𝓬 𝓒𝓸𝓷𝓬𝓮𝓻𝓽𝓼</div>
        </div>
        <div class="event-card">
          <img src="/pexels-emma-bauso-1183828-2253842.jpg" alt="" class="event-image">
          <div class="event-text">𝓦𝓮𝓭𝓭𝓲𝓷𝓰𝓼</div>
        </div>
        <div class="event-card">
          <img src="/pexels-divinetechygirl-1181370.jpg" alt="" class="event-image">
          <div class="event-text">𝓣𝓮𝓬𝓱 𝓬𝓸𝓷𝓯𝓮𝓻𝓮𝓷𝓬𝓮𝓼</div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>


