

<div class="main1">

  <div class="sidebar">
    <div class="sidebar-header">𝒫𝐿𝒜𝒩𝒜</div>
    <div class="sidebar-menu">
      <div class="menu-item"><a routerLink="/manager/dashboard2"  class="menu-item">Dashboard</a></div>
      <div class="menu-item"><a routerLink="/manager/create"  class="menu-item">Create Events</a></div>
      <div class="menu-item"><a routerLink="/manager/list"  class="menu-item">Attendee list</a></div>
      <div class="menu-item"><a routerLink="/manager/notifications"  class="menu-item">Notifications</a></div>
      <div class="menu-item"><a routerLink="/manager/profile2"  class="menu-item">Profile</a></div>
      <div class="menu-item"><a routerLink="/login"  class="menu-item">Logout</a></div>
    </div>
  </div>


  <div class="body1">

    <router-outlet></router-outlet>

  </div>

</div>


