body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 300px;
  height: 100vh;
  background-color: #f0f0f0;
}

.image-section,
.form-section {
  height: 80vh; /* Set a fixed height for both sections */
  flex: 1;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px; /* Add rounded corners to the image */
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 0 10px 10px 0; /* Add rounded corners to the form section */
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

h2 {
  margin-bottom: 1.5rem;
}

.input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin-bottom: 0.5rem;
}

.required {
  color: red;
}

.input-container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.register-btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.additional-links {
  margin-top: 1rem;
  text-align: center;
}

.additional-links p {
  margin: 0.5rem 0;
}

.additional-links a {
  color: #007bff;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}

.error{
  font-size: small;
  color: red;
}
